:root {
    --orange-neon: #ff4d00;
    --purple-neon: #8a2be2;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

.font-brutal {
    font-family: 'Syne', sans-serif;
}

.glass {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.swiper-pagination-bullet {
    background: white !important;
    opacity: 0.1;
}

.swiper-pagination-bullet-active {
    background: var(--orange-neon) !important;
    opacity: 1 !important;
    box-shadow: 0 0 15px var(--orange-neon);
    width: 20px;
    border-radius: 4px;
}